<div class="row justify-content-around">
    <div class="col-xl-2 col-lg-4 col-md-4 " id="taskLists">

        <div class="card-body">
            <h6>New</h6>
            <div>
                <div *ngFor="let task of taskList ">
                    <div *ngIf="task.status == 'New'" id="newTask" class="taskDetail">
                        <p>{{task.taskName}}</p>
                        <p>{{task.taskDescription}}</p>
                        <button [routerLink]="['/edit-task/',task.creationDate]" class="btn  newEditButton">Edit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-xl-2 col-lg-4 col-md-4" id="taskLists">

        <div class="card-body">
            <h6>In Progress</h6>

            <div>
                <div *ngFor="let task of taskList ">
                    <div *ngIf="task.status == 'InProgress'" id="inProgressTask" class="taskDetail">
                        <p class="taskDetail">{{task.taskName}}</p>
                        <p class="taskDetail">{{task.taskDescription}}</p>
                        <button [routerLink]="['/edit-task/',task.creationDate]" class="btn  progressEditButton">Edit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-xl-2 col-lg-4 col-md-4" id="taskLists">

        <div class="card-body">
            <h6>Completed</h6>
            <div>
                <div *ngFor="let task of taskList ">
                    <div *ngIf="task.status == 'Completed'" id="completedTask" class="taskDetail">
                        <p>{{task.taskName}}</p>
                        <p>{{task.taskDescription}}</p>
                        <button [routerLink]="['/edit-task/',task.creationDate]" class="btn  completeEditButton">Edit</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>