

h6{
    text-align: center;
}

#taskLists{
    background-color:rgb(240, 238, 238);
    height:600px;
    margin-top:2rem;
    margin-bottom:2rem;
    border-radius: 2%;
}

#newTask{
    background-color: rgb(173, 173, 236);
    margin:1rem 0;
    border-radius: 2%;
}

#inProgressTask{
    background-color: rgb(255, 174, 219);
    margin:1rem 0;
    border-radius: 2%;
}

#completedTask{
    background-color: rgb(202, 248, 250);
    margin:1rem 0;
    border-radius: 2%;
}

.taskDetail > p{
    padding: 0 1rem;
}

.newEditButton{
    width: 100%;
    background-color: rgb(109, 109, 248);
}

.progressEditButton{
    width: 100%;
    background-color: rgba(255, 174, 219, 0.822);
}

.completeEditButton{
    width: 100%;
    background-color: rgba(202, 248, 250, 0.788);
}
